h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1;
    border: 5px solid;
    padding: 2rem;
    width: 320px;   
}

h1 [data-sizing="intrinsic"] {
    width: min-content;
}

h1 {
--flow-space: 2rem;
}

body {
    background-color: rgb(216, 220, 221);
    border: 2px double rgb(0, 0, 0);
    border-radius: 16px;
    text-transform: capitalize;
    font-family: Trebuchet;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

html {
    background: linear-gradient(to bottom, rgb(120, 212, 132),
    rgb(184, 240, 210) 50%, LightCyan 50%,
    rgb(186, 238, 190)) ;
    background-size: 8px 8px;
  }