h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1;
    border: 5px solid;
    padding: 2rem;
    width: 320px;   
}

h1 [data-sizing="intrinsic"] {
    width: min-content;
}

h1 {
--flow-space: 2rem;
}

body {
    background-color: rgb(216, 220, 221);
    border: 2px double rgb(0, 0, 0);
    border-radius: 16px;
    text-transform: capitalize;
    font-family: Trebuchet;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

html{
    scroll-behavior: smooth;
}

html{
  background-image: url(https://img.freepik.com/vector-gratis/fondo-negro-degradado-cubos_23-2149177090.jpg);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}

ul li {
  display: inline-block;
  padding: 0px 20px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: white;
}