header{
  font-family: Courier;
}

a{
  text-decoration: none;
  color: black;
}

header{
  display: flex;
  height: 70px;
  background-color: silver;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

nav a{
font-weight: 550;
padding-right: 10px;
}

nav a:hover{
  color: white;
}

@media (max-width:700px){
  header{
    flex-direction: column;
  }

}

nav ul li {
  display:inline;
  border-right: 2px solid 
  #111111;
  padding-right: 8px;
  padding-left: 8px;
  }

a.seleccionado{
 color: gray;
}

h1 {
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  border: 5px solid;
  padding: 2rem;
  width: 300;
  display: inline-block;
}

h1[data-sizing="intrinsic"] {
  width: min-content;
}

h1 {
  --flow-space: 2rem;
}